body {
  background-color: white;
}
h1 {
  color: brown;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.445);
}
p {
  text-align: center;
  font-family: "Petit Formal Script", cursive;
  word-spacing: 4px;
  margin-top: 50px;
  line-height: 30px;
}

span {
  margin-left: 200px;
  border: 4px solid rgb(255, 0, 0);
  display: inline-block;
}

.shadow1 {
  background-color: rgb(121, 121, 255);
  width: 75%;
  height: 100px;
  box-shadow: 30px 25px 20px #888;
}

.shadow2 {
  background-color: rgba(129, 129, 251, 0.63);
  width: 75%;
  height: 100px;
  box-shadow: 25px 20px 15px #888;
  margin-top: 50px;
}

.shadow3 {
  background-color: rgba(140, 140, 255, 0.39);
  width: 75%;
  height: 100px;
  box-shadow: 20px 15px 10px #888;
  margin-top: 50px;
}

.shadow4 {
  background-color: rgba(141, 141, 250, 0.767);
  width: 75%;
  height: 100px;
  box-shadow: 15px 10px 5px #888;
  margin-top: 50px;
}

.shadow5 {
  background-color: rgba(190, 190, 255, 0.685);
  width: 75%;
  height: 100px;
  box-shadow: 10px 5px 0px #888;
  margin-top: 50px;
}
